
h2 {
  font-size: 1.3em;
}

p {
  margin: 40px 0 0 0;
  
}

.h2 {
  background-color: #ff96ff;
  width: 100%;
  border-bottom: 2px solid black;
  text-align: center;
  padding: 10px;
}

.loginBg {
  background-color: #90a3ff;
  position: relative;
  height: 110vh;
  width: 100vw;
}


.bgTopBlob {
  width: 20%;
  transform: rotate(180deg);
  z-index: -1;
}



.bgBottomBlob {
  width: 20%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}


.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.loginFormBg {
  width: 40%;
  height: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}
