@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@900&family=Montserrat:wght@100;200;300;400;500;600&family=Raleway:wght@300;400;500;600;700;800&family=Shrikhand&family=Sonsie+One&display=swap');


h1 {
  font-size: 1.7em;
  color: white;
  font-weight: 600;
  padding-bottom: 50px;
}

h2 {
  font-size: 1.6em;
}

.h2 {
  background-color: #ff96ff;
  width: 100%;
  border-bottom: 2px solid black;
  text-align: center;
  padding: 10px;
}

.landingBg {
  background-color: #90a3ff;
  position: relative;
  height: 110vh;
  width: 100vw;
}


.aotdContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.aotdBg {
  min-height: 50%;
  width: 40%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}



.activityLink {
  margin-top: 30px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3em;
  color: black;
}


.activityLink:hover {
  color:#ff96ff;
  font-weight: 600;
}

.soloDiv, .groupDiv {
  width: 50%;
  padding-top: 80px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


.h4SoloGroup {
  padding: 10px 20px 10px 20px;
  background-color: #ecff50;
  border: 2px solid black;
  width: 70%;
  font-weight: 500;
  text-align: center;
  font-size: 1.2em;
}

.groupLinkDiv, .soloLinkDiv {
  margin-top: 12px;
  text-align: center;
  font-size: .9em;
}

.groupDiv {
  margin-top: -50px;
}

.bgTopBlob {
  width: 20%;
  transform: rotate(180deg);
  z-index: -1;
}


.bgBottomBlob {
  width: 20%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}