
h2 {
  font-size: 1.3em;
  color: white;
}

p {
  margin: 40px 0 0 0;
  
}


.pwContainer {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.h2 {
  background-color: #90a3ff;
  width: 100%;
  border-bottom: 2px solid black;
  text-align: center;
  padding: 10px;
}

.pwBg {
  background-color: #ff96ff;
  position: relative;
  height: 100vh;
  width: 100vw;
}


.bgTopBlob {
  width: 20%;
  transform: rotate(180deg);
  z-index: -1;
}



.bgBottomBlob {
  width: 20%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}


.pwFormBg {
  width: 45%;
  height: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}
