.cardHolder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* height: 30%; */
  width: 90%;
  font-weight: 500;
  margin: 15px 10px 15px 10px;
}


.starBulletImg {
  height: 50px;
}