h3 {
  font-size: 1.2em;
}

.profilePage {
  height: 100vh;
  width: 100vw;
  background-color: #ff96ff;
}

.profileBg{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 80px;
  background-color: #ff96ff;
}

.greetingAndPic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  margin: 0 0 -40px 0;
  z-index: 1;
}

.profileGreeting {
  background-color:#ffa7ff;
  padding: 0 15px 0 15px;
  border: 2px solid black;
  margin: -30px 0 0 0;
}

.profNameh4 {
  background-color: #ffa7ff;
  font-size: .8e9m;
}

.profileAvatar {
  display: inline-block;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  border: 2px solid black;
  
  object-fit: cover;
}



.profilePageContents {
  width: 75%;
  height: 60%;
  background-color: white;
  border: 2px solid black;
  margin: -20px 0 0 0;
}

.colorBarPageContents {
  background-color: #90a3ff;
  height: 30%;
  width: 100%; 
  border-bottom: 2px solid black;
}

.ugh {
  background-color: #90a3ff;
  color: #90a3ff;
  font-size: 3em;
}

.apiDivs {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;
  justify-content: space-evenly;
  align-items: space-evenly;
  margin: 30px 0 50px 0;
}

.apiHeader {
  background-color:#90a3ff;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
  /* position: fixed; */
}

.apiH4 {
  background-color: #90a3ff;;
  padding: 10px;
}

.apiHeaderDone {
  background-color: #ecff50;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
}

.apiH4Done {
  background-color:#ecff50;
  padding: 10px;
}

.apiSavedActivities {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 35%;
  overflow-y: scroll;
  background-color: white;
  border: 2px solid black;
  box-shadow: 12px 15px #ecff50, 12px 15px 0 2px black;
}  



.apiDoneActivities {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
  overflow-y: scroll;
  background-color: white;
  border: 2px solid black;
  box-shadow: 12px 15px #90a3ff, 12px 15px 0 2px black;
}  


.formAndAddedDiv {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px 0 0 0;
  width: 75%;
  height: 60%;
  background-color: white;
  border: 2px solid black;

}


.h3 {
  background-color: #ecff50;
  width: 100%;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.addActivityForm {
  width: 40%;
  height: 100%;
  margin-top: 30px;
  padding: 0 0 30px 0;
  background-color: white;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}



input {
  border: 1px solid black;
}

.formBody {
  width: 60%;
}

.activityProfileInput {
  display: flex;
  flex-direction: column;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button6 {
  align-items: center;
  background-color: #ecff50;
  border: 1.5px solid black;
  border-radius: .25rem;
  box-shadow: 2px 4px #ff96ff, 2px 4px 0 1px black;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  line-height: 1.25;
  margin: 18px 0 0 0;
  height: 40px;
  padding: 10px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 100%;

}

.button6:hover,
.button6:focus {
  box-shadow: 2px 4px #90a3ff, 2px 4px 0 1px black;
  color: rgba(0, 0, 0, 0.65);
  border: 1.5px solid black;
}

.button6:hover {
  transform: translateY(-1px);
  box-shadow: 2px 4px #90a3ff, 2px 4px 0 1px black;
}

.button6:active {
  background-color: #ff96ff;
  border: 1.5px solid black;
  box-shadow: 2px 2px rgb(176, 176, 176), 2px 2px 0 1px rgba(0, 0, 0, 0.186);
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.addedHolder {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.addedActivityDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  overflow-y: scroll;
  background-color: white;
  border: 2px solid black;
  padding-top: 10px;
  margin: 30px 0 0px 25px;
}



