.searchPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.searchBg {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.searchHeader {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}


.searchH1 {
  font-size: 1.3em;
  color: black;
  padding: 10px 16px 10px 16px;
  background-color: #ff96ff;
  border: 2px solid black;
  margin-bottom: 50px;
  margin-top: 40px;
  font-weight: 400;
}

.searchForm {
  min-height: 30%;
  max-width: 900px;
  background-color: #90a3ff;
  border: 2px solid black;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 12px 15px #ecff50, 12px 15px 0 2px black;
}

.searchInputDiv {
  margin: 10px;
  padding: 40px;
  display: inline-flex;
  flex-wrap: wrap;
}

.select {
  padding: 10px;
  margin: 10px;
  display:flex;
  flex-direction: column;
  position:relative;
  width:250px;
  height:50px;
  border: 1.5px solid black;
}

.selectType {
  padding: 10px;
  margin: 10px;
  display:flex;
  flex-direction: column;
  position:relative;
  width:150px;
  height:50px;
  border: 1.5px solid black;
}

.selectSecondRow {
  display: inline-flex;
  margin-left: 100px;
}


.button6 {
  align-items: center;
  background-color: #ff96ff;
  border: 1.5px solid black;
  border-radius: .25rem;
  box-shadow: 3px 4px #ecff50, 3px 4px 0 1px black;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  line-height: 1.25;
  margin: 10px 0 10px 30px;
  height: 50px;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 15rem;

}

.button6:hover,
.button6:focus {
  box-shadow: 3px 4px rgb(255, 255, 255), 3px 4px 0 1px black;
  color: rgba(0, 0, 0, 0.65);
  border: 1.5px solid black;
}

.button6:hover {
  transform: translateY(-1px);
  box-shadow: 3px 4px rgb(255, 255, 255), 3px 4px 0 1px rgba(0, 0, 0, 0.186);
}

.button6:active {
  background-color: #ecff50;
  border: 1.5px solid black;
  box-shadow: 2px 2px rgb(176, 176, 176), 2px 2px 0 1px rgba(0, 0, 0, 0.186);
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}


/* .searchCard {
  display: flex;
  align-items: center;
  justify-content: center;
} */



.activityLink {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3em;
  color: black;
}


.activityLink:hover {
  color:#ff96ff;
  font-weight: 500;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 90px 0 40px 0;
  
}

.resultDiv {
  display: flex;
  text-align: center;
  justify-content: center;
}


.searchCardDiv {
  background-color: #ecff50;
  border: 2px solid black;
  padding: 40px 30px 20px 30px;
}