.userActivityDiv {
  width: 80%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin: 10px;
}


p, h4 {
  margin: 0 0 5px 0;
}

.table {
  width: 80%;
}

.th {
  border: 2px solid black;
  width: 25%;
  background-color:#ff96ff;
  padding: 5px;
  color: white;
  text-align: center;
}

.td {
  text-align: center;
  border: 2px solid black;
  padding: 10px;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button6 {
  align-items: center;
  background-color: #ecff50;
  border: 1.5px solid black;
  border-radius: .25rem;
  box-shadow: 2px 4px #ff96ff, 2px 4px 0 1px black;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  line-height: 1.25;
  margin: 1px 0 0 0;
  height: 40px;
  padding: 10px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 60%;

}

.button6:hover,
.button6:focus {
  box-shadow: 2px 4px #90a3ff, 2px 4px 0 1px black;
  color: rgba(0, 0, 0, 0.65);
  border: 1.5px solid black;
}

.button6:hover {
  transform: translateY(-1px);
  box-shadow: 2px 4px #90a3ff, 2px 4px 0 1px black;
}

.button6:active {
  background-color: #ff96ff;
  border: 1.5px solid black;
  box-shadow: 2px 2px rgb(176, 176, 176), 2px 2px 0 1px rgba(0, 0, 0, 0.186);
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
