.commentCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}

.commentAuthor {
  border-bottom: 2px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecff50;
  padding: 5px;
}

.pAuthor {
  background-color: #ecff50;
  font-weight: 600;
}

.commentContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}


.pContent {
  width: 100%;
  
}