.signupContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signupFormBg {
  margin: 90px;
  width: 50%;
  height: 50%;
  background-color: #ff96ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  box-shadow: 12px 15px #ecff50, 12px 15px 0 2px black;
  z-index: 1;
}

