.App-header {
  background-color: #ecff50;
  height: 90px;
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.navLink {
  color: black;
  font-weight: 600;
  text-decoration: none;
  padding: 15px 25px 15px 25px;
  height: 90px;
}

.navLink:hover {
  border: 2px solid black;
  background-color: #ff96ff;
  color: white;
}