@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@900&family=Montserrat:wght@100;200;300;400;500;600&family=Raleway:wght@300;400;500;600;700;800&family=Shrikhand&family=Sonsie+One&display=swap');

body {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgba(128, 128, 128, 0.613) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.613) 1px, transparent 1px);
  font-family: 'Montserrat', sans-serif;
}


.App-header {
  background-color: #ecff50;
  height: 90px;
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.newtHeader {
  margin: 0 10px 10px 0;
  width: 170px;
}


.navLink {
  color: black;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  height: 90px;
  margin: 5px 10px 5px 10px;
  border: 2px solid rgba(0, 0, 0, 0);
}

.navLink:hover {
  
  border: 2px solid black;
  background-color: #ff96ff;
  color: black;
}

.navLink:active {
  background-color: #90a3ff;
  color: white;
  border: 2px solid white;
}